<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Aliyun ODPS Test Suite">
            <directory>./ODPS/Services/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../core/</directory>
            <exclude>
                <directory></directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
